.form-group {
    position: relative;
}

.vehicle-form-container, .learner-form-container, .trainer-form-container{
    display: none;
}

.vehicle-form-container.fade-in, .learner-form-container.fade-in, .trainer-form-container.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.vehicle-form-container.fade-out , .learner-form-container.fade-out, .trainer-form-container.fade-out{
    animation: fadeOut 1s;
}
